{% macro bidding_tile(bid) %}
<div class="flex-1 basis-0 flex justify-center">
    <form action="{{ url_for('api.bid') }}" class=" w-full {{bid.color()}}" method="post">
        <input type="hidden" name="token" value={{invite.token}} />
        <input type="hidden" name="bid" value={{bid.encode()}} />
        <input type="submit" value={{bid.display()}}
            class="w-full border rounded-sm px-2 cursor-pointer hover:bg-slate-100 transition hover:border-slate-300" />
    </form>
</div>
{% endmacro %}

<div class="w-full h-full flex items-center justify-center">
    <div class="rounded-sm min-w-[20em] border p-4 pointer-events-auto">
        <p>Auction</p>
        {# current state #}
        <div class="flex flex-col space-y-1">
            {% for bids_by in game.bids_by %}
            <div class="flex space-x-2">
                <p class="w-4">{{bids_by.direction.value}}</p>
                {% for bid in bids_by.bids %}
                <div class="border rounded-sm px-2">{{bid}}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {# player choices #}
        <p>Choose Bid</p>
        <div class="flex flex-col space-y-1">
            {% for row in game.possible_next_bids %}
            <div class="flex w-full">
                {% for bid in row %}
                {{ bidding_tile(bid) }}
                {% endfor %}
            </div>
            {% endfor %}
            <div class="flex w-full justify-center">
                {{ bidding_tile(game.possible_pass_bid) }}
            </div>
        </div>
    </div>
</div>