{% extends "layout.html.jinja" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>Bridgerton</h1>
<form action={{ url_for('new') }} method="post">
    <button type="submit" class="font-bold">New Game</button>
</form>
{% endblock %}